*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f0e2c5;
    color: #49281a;
}
.header-font{
   font-family: "Playfair Display SC",serif;  
}
.body-font{
   font-family: "Lato",serif;
}
header{
    border: 2px solid;
    text-align: center;
    padding: 50px;
}
 header h1{
    font-size: 3rem;
    margin-bottom: 20px;
 }
 header p{
    font-size: 1.2rem;
    margin-bottom: 20px;
 }
 header a{
     display: block;
     width: 180px;
     height: 40px;
     line-height: 40px;
     background-color: #49281a;
     color: #f0e2c5;
     margin: 10px auto 0;
     text-decoration: none;
     border-radius: 4px;
 }

 nav{
    text-align: center;
    padding: 30px;
 }
 nav a{
    padding: 15px 20px;
    border: 1px solid #000;
    margin: 20px;
    text-decoration: none;
    color: #49281a;
    border-radius: 8px;
    transition: 0.5s;
 }
 nav a:hover{
    box-shadow: 0px 0px 10px#49281a;
 }
 
 #our-menu,
 #about-us,
 #contact-us{
    width: 90%;
    margin: 50px auto;
 }

 #our-menu h2,
 #about-us h2,
 #contact-us h2{
    font-family: "Playfair Display SC",serif;
    font-size: 2rem;
    padding: 10px 0;
 }

#about-us p,
#contact-us p,
#footer p{
    padding: 10px 0;
    font-family: "Lato",serif;
    line-height: 1.5;
    text-align: justify;
}

footer p{
    text-align: center;
    font-size: 0.9em;
}

.card{
   border: 1px solid #000;
   width: 250px;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   text-align: center;
}
.card-title{
   margin: 10px;
}
.card-img-top{
   max-width: 100%;
   border-radius: 5px;
}
.card-text{
   line-height: 1.5;
}
.price{
   font-style: italic;
   font-weight: bold;
   display: inline-block;
   padding: 10px;

}
.btn{
   background-color: black;
   width: 100%;
   padding: 10px;
   color:#ffffff;
   border-radius: 5px;
}