*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #f0E2C5;
}
.headerfont{
   font-family: "Playfair Display SC", serif;
}
.body-font,a{
   font-family: "Lato", serif;
}
header{
   margin: 20px;
   text-align: center;
   /* padding: 20px 40px; */
}
header h1{
   font-family: "Playfair Display SC", serif;
   font-size: 3rem;
   margin-bottom: 20px;
   color: #49281a;
}
header p{
   margin-bottom: 20px;
   font-size: 1rem;
}
header a{
   text-decoration: none;
   color: #f0E2C5;
   background-color: #49281a;
   padding: 10px 20px;
   display: inline-block;
   width: 180px;
   height: 40px;
   line-height: 1;
   border: none;
   border-radius: 5px;
}


nav{
   margin: 10px 0;
   background-color: #49281a;
   text-align: center;
   padding: 20px;
   position: sticky;
   top: 0;
   
}

nav a{
   text-decoration: none;
   color: #f0E2C5;
   margin: 40px;
   padding: 5px 10px;
   transition: 0.3s;
}
@media screen and (max-width : 425px) {
   nav a{
      margin: 10px;
   }
}
@media screen and (max-width : 375px) {
   nav a{
      margin: 5px;
   }
}
nav a:hover{
   border-bottom: 2px solid #f0E2C5;
}
.menu h3{
   padding: 20px;
}
.card-container{
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
@media screen and (max-width : 768px) {
   .card-container{
      flex-wrap: wrap;
   }
}
.card{
   border: 1px solid #49281a;
   width: 300px;
   padding: 10px;
   border-radius: 5px;
   text-align: center;
   margin: 20px 0;
   gap:10px;
}
.card-img-top{
  max-width: 100%;
  border-radius: 5px;
}
.card-title{
   font-weight: bold;
   /* background-color: blue; */
   font-size: 20px;
   margin: 10px;
   border-radius: 1px solid #000;
}
.card-text{
   font-size: 16px;
   /* background-color: blue; */
   line-height: 1.5;
   margin-bottom: 5px;
}
.price{
   font-size: 0.9rem;
   font-style: italic;
   font-weight: bold;
   display: inline-block;
   padding: 10px;
   /* background-color: blue; */
}
.btn{
   background-color: #49281a;
   color: #f0E2C5;
   text-align: center;
   border-radius: 5px;
   border: none;
   padding: 10px;
   width: 100%;
}

#our-menu,#about-us,#contact-us{
   /* border: 1px solid; */
   margin: 0px 50px;
}
#our-menu h2,#about-us h2,#contact-us h2{
   font-size: 2rem;
   padding: 10px 0;
}

#about-us p,#contact-us p{
   padding: 10px ;
   margin: 20px auto;
   text-align: justify;
}

.form-control{
   padding: 20px;
}

label{
   display: inline-block;
   width: 100px;
   margin-right: 50px;
}
textarea,input{
   border: none;
   outline: none;
   background-color: transparent;
   border-bottom: 2px solid #49281a;
   width: 300px;
}
textarea{
   resize: none;
}
.contact-btn{
   color: #f0E2C5;
   background-color: #49281a;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   margin-left: 170px;
   margin-bottom: 30px;
}
footer{
   text-align: center;
   padding: 20px;
   margin: 20px;
}

.To-top{
   text-decoration: none;
   color: #49281a;
   position: fixed;
   right: 20px;
   bottom: 20px;
}
.To-top-icon{
   color: #f0E2C5;
   background-color: #49281a;
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
}